{% extends 'base.html.twig' %}


{% block title %}Paiement de ma commande - Huvlin{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifiez vos informations avant de payer votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison</strong><br/>
            <div class="form-check mt-4">
                {{ delivery|raw }}
            </div>
            <hr>
            <strong>Mon transporteur</strong><br/>
            <div class="form-check">
                {{ carrier.nom }}<br/>
                {{ carrier.description }}<br/>
                {{ (carrier.prix / 100)|number_format(2, ',', '.') }} €
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b><br/>
            </div>
            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ product.product.imageName }}" alt="{{ product.product.nom }}" height="75px">
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.nom }}<br/>
                            <small>
                                {{ product.product.titre }}
                                <br/>
                                x {{ product.quantity }}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.product.prix * product.quantity ) / 100)|number_format(2, ',', '.') }} €
                        </div>
                    </div>
                    {% set total = total + (product.product.prix * product.quantity) %}
                {% endfor %}
            </div>

            <hr>
            <strong>Sous-Total : </strong> {{ (total / 100)|number_format(2, ',', '.') }} €<br/>
            <strong>Livraison : </strong> {{ (carrier.prix / 100)|number_format(2, ',', '.') }} €
            <hr>
            <strong>Total : </strong> {{ ((total / 100) + (carrier.prix / 100))|number_format(2, ',', '.') }} €

            <a href="{{path('app_commande-recu')}}" class="btn btn-success btn-block mt-3" id="checkout-button">Je confirme que je vais payer   {{ ((total / 100) + (carrier.prix / 100))|number_format(2, ',', '.') }} €</a>
        </div>
    </div>
{% endblock %}


